@import "./style/_init.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-family: "Noto Sans", sans-serif;
}

body,
html {
    height: 100dvh;
}

html {
    body {
        background-image: url("/images/52545243399_fbc8063594_6k.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(3rem);
        -webkit-backdrop-filter: blur(3rem);
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
            z-index: -1;
        }

        main {
            max-height: 100dvh;
            padding: 2rem 1.8rem;
            overflow: scroll;

            section {
                color: var(--main_color, rgba(255, 255, 255, 0.9));
                margin: 0 0 4rem;

                a.link_chevron {
                    display: inline-block;
                    text-decoration: none;
                    color: inherit;
                    position: relative;
                    padding-right: 2rem;

                    &:after {
                        content: "chevron_right";
                        font-family: "Material Symbols Outlined";
                        position: absolute;
                        top: -0.4rem;
                        right: 0;
                        font-size: 1.8rem;
                    }

                    h1 {
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin: 0 0 0.2rem;
                    }
                }

                span {
                    font-weight: 100;
                    font-size: 0.85rem;
                    display: block;
                }

                h2 {
                    font-size: 1rem;
                    font-weight: 300;
                }

                div.card {
                    border: 0.1rem solid var(--main_border, rgba(255, 255, 255, 0.2));
                    border-radius: 0.5rem;
                    padding: 1.2rem 1rem;
                    margin: 1rem 0;
                    height: calc(100% - 56px);

                }
            }

            section.about {
                grid-area: about;
            }

            section.favorite {
                grid-area: favorite;
            }

            section.status {
                grid-area: status;
            }

            section.catalog {
                grid-area: catalog;
            }

            section.calendar {
                grid-area: calendar;
            }

            @import "./partials/about";
            @import "./partials/calendar";
            @import "./partials/catalog";
            @import "./partials/favorite";
            @import "./partials/status";
        }
    }
}

@media only screen and (min-width: 800px) {
    html {
        body {
            main {
                display: grid;
                grid-template-areas: "about favorite""status calendar""catalog catalog ";
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-column-gap: 2.8rem;
                grid-row-gap: 2.8rem;

                section {
                    margin: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    html {
        body {
            main {
                grid-template-areas: "about favorite status""catalog catalog calendar";
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                max-width: 1280px;
                margin: 0 auto;
            }
        }
    }
}