@import "./style/_init.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-family: "Noto Sans", sans-serif;
}

body,
html {
    height: 100vh;
}

html {
    body {
        padding: 3rem 3.8rem;
        background-image: url("/images/52545243399_fbc8063594_6k.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(3rem);
        -webkit-backdrop-filter: blur(3rem);
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
            z-index: -1;
        }
        main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 2.8rem;
            grid-row-gap: 2.8rem;
            height: 100%;
            max-width: 1280px;
            margin: 0 auto;

            section {
                color: var(--main_color, rgba(255, 255, 255, 0.9));

                a.link_chevron {
                    display: inline-block;
                    text-decoration: none;
                    color: inherit;
                    position: relative;
                    padding-right: 2rem;

                    &:after {
                        content: "chevron_right";
                        font-family: "Material Symbols Outlined";
                        position: absolute;
                        top: -0.4rem;
                        right: 0;
                        font-size: 1.8rem;
                    }

                    h1 {
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin: 0 0 0.2rem;
                    }
                }
                span {
                    font-weight: 100;
                    font-size: 0.85rem;
                    display: block;
                }

                h2 {
                    font-size: 1rem;
                    font-weight: 300;
                }

                div.card {
                    border: 0.1rem solid var(--main_border, rgba(255, 255, 255, 0.2));
                    border-radius: 0.5rem;
                    padding: 1.2rem 1rem;
                    margin: 1rem 0;
                    height: 100%;
                }
            }

            section.about {
                grid-area: 1 / 1 / 4 / 2;
            }
            section.favorite {
                grid-area: 1 / 2 / 4 / 3;
            }
            section.status {
                grid-area: 1 / 3 / 4 / 4;
            }
            section.catalog {
                grid-area: 4 / 1 / 6 / 3;
            }
            section.calendar {
                grid-area: 4 / 3 / 6 / 4;
            }

            @import "./partials/about";
            @import "./partials/calendar";
            @import "./partials/catalog";
            @import "./partials/favorite";
            @import "./partials/status";
        }
    }
}
