//main:../main.scss

section.catalog {
    div.card {
        header {
            border-bottom: 0.1rem solid var(--main_border, rgba(255, 255, 255, 0.2));
            padding-bottom: 1rem;


            form {
                @include textfield-outlined();
                padding-bottom: 1rem;

                label {
                    position: relative;

                    input {
                        padding: .4rem .6rem .6rem 2.4rem;
                        background: transparent;
                        border: 0.1rem solid var(--main_border, rgba(255, 255, 255, 0.2));
                        border-radius: .4rem;
                        color: inherit;
                        font-weight: 100;
                        outline: none;
                        width: 100%;

                        &::placeholder {
                            color: var(--main_border, rgba(255, 255, 255, 0.2));
                        }
                    }

                    i {
                        color: var(--main_border, rgba(255, 255, 255, 0.6));
                        font-weight: 300;
                        position: absolute;
                        top: 50%;
                        left: .4rem;
                        transform: translate(0, -50%);
                    }
                }
            }

            div[filter] {
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                gap: 0.2rem;

                span[data-icon] {
                    min-width: 60px;
                    padding: 0.6rem 0.4rem 0.6rem 1.8rem;
                    background-position: left 0.6rem center !important;
                    background-repeat: no-repeat !important;
                    background-size: 1.6rem !important;
                    border: 0.1rem solid transparent;
                    position: relative;
                    cursor: pointer;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    &::before {
                        content: attr(data-icon);
                        font-family: "Material Symbols Outlined";
                        font-size: 1.4rem;
                        font-weight: 100;
                        position: absolute;
                        left: .2rem;
                        top: 50%;
                        transform: translate(0, -50%);
                        border: 0.1rem solid transparent;
                    }

                    &:hover {
                        border: 0.1rem solid var(--main_border, rgba(255, 255, 255, 0.2));
                        border-radius: 0.25rem;
                    }

                    &[active] {
                        border: 0.1rem solid var(--main_border, rgba(255, 255, 255, 0.6));
                        background: var(--main_border, rgba(255, 255, 255, 0.6));
                        border-radius: 0.25rem;

                    }
                }
            }


        }

        article {
            div {
                &.list {
                    overflow-y: scroll;
                    max-height: 450px;
                    div{
                        // padding-top: 40px;
                        position: relative;
                        &.hide {
                            display: none;
                        }

                        &::before{
                            content: attr(data-label);
                            position: sticky;
                            display: block;
                            top: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            padding: 5px 20px;

                            padding-left: 10px;
                            // background: var(--main_border, rgba(255, 255, 255, 0.6));
                            background: gray;
                        }

                        span {
                            margin: 10px 0;
                            padding: 5px 20px;
    
                            &.hide {
                                display: none;
                            }
                            
                            &:first-of-type {
                                margin-top: 20px;
                            }

                        }
                    }


                }

                &[filter] {
                    span {
                        font-size: .6rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    section.catalog {
        div.card {
            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;

                form {
                    flex: 1;
                    padding: 0;

                }

                div[filter] {
                    gap: 0.8rem;
                }
            }
        }
    }
}