// main:../main.scss
section.favorite {
    div#subtext {
        padding-bottom: 30px;
    }

    div.containerApps {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;

        a {

            padding: 100px 8px 8px;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: top 8px center;
            background-size: 72px;
            flex-basis: calc(100% / 3);
            max-width: 100px;
            text-decoration: none;
            color: inherit;
            font-size: 0.8rem;
            font-weight: 300;
            margin-bottom: 1rem;

            &:hover {
                background-color: grey;
            }

            &#canvas {
                background-image: url("../../images/canvas.png");
            }

            &#mail {
                background-image: url("../../images/365.png");
            }

            &#zoom {
                background-image: url("../../images/zoom.png");
            }

            &#myfiu {
                background-image: url("../../images/myfiu.png");
            }

            &#linkedin {
                background-image: url("../../images/linkedin.png");
            }

            &#askit {
                background-image: url("../../images/askit.png");
            }
            &#panthersoft {
                background-image: url("../../images/Roarybot4.png");
            }
            &#onestop {
                background-image: url("../../images/onestop.png");
            }
            &#hr {
                background-image: url("../../images/hr.png");
            }
        }
    }
}